
 #backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  .overlayContent {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    min-width: 100%;
    padding: 20px;
  }

  .container { 
    min-height: 80vh;
    position: relative;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  #myBtn {
    width: 200px;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    transition: 1000ms ease;
  }
  
  #myBtn:hover {
    background: rgba(255,255,255, 0.5);
    color: black;
    transition: 1500ms ease;
  } 
